{% extends 'base.html' %}
{% load static %}

{% block title %}Our Works - VGDS{% endblock %}

{% block content %}

<!--Home Navbar  -->

<nav class="navbar navbar-expand-lg fixed-top transparent d-none d-lg-flex">
  <div class="container">
    <a class="navbar-brand" href="/">
        <!-- White logo (default) -->
        <img src="{% static 'images/vgds-white-logo.png' %}" alt="Bootstrap" class="logo logo-white" id="navbarLogo">

        <!-- Colored logo (hidden initially) -->
        <img src="{% static 'images/vgds-logo-2.png' %}" class="logo logo-colored d-none" alt="Logo">
    </a>
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'projectapp:ourWorks' %}">Our Work</a>
        </li>
        <li class="nav-item dropdown custom-dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'projectapp:services' %}">Services</a>
            <div class="dropdown-menu mega-dropdown">
                <div class="row">
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:presentation_design' %}" class="dropdown-card">
                      <img src="{% static 'images/sol1.jpg' %}" class="img-fluid" alt="Presentation Design">
                      <p class="dropdown-title">Presentation Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:graphics' %}" class="dropdown-card">
                      <img src="{% static 'images/sol2.jpg' %}" class="img-fluid" alt="Graphics & Print Design">
                      <p class="dropdown-title">Graphics & Print Design</p>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="{% url 'projectapp:otherServices' %}" class="dropdown-card">
                      <img src="{% static 'images/sol3.jpg' %}" class="img-fluid" alt="Other Services">
                      <p class="dropdown-title">Other Services</p>
                    </a>
                  </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:solutions' %}">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:testimonials' %}">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:pricing' %}">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projectapp:blogs' %}">Blogs</a>
        </li>
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link" href="#">About Us</a>-->
<!--                </li>-->
      </ul>

        <!-- Mobile Order Now button -->
      <div class="d-lg-none mt-3">
        <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav">Order Now</a>
      </div>

    </div>

    <!-- Order Now Button -->
    <div class="d-none d-lg-block">
<!--                <a href="#" type="button" class="btn order-button-nav" data-bs-toggle="modal" data-bs-target="#orderModalTreatment">Order Now</a>-->
      <a href="{% url 'projectapp:orderFlow' %}" type="button" class="btn order-button-nav" >Order Now</a>
    </div>
  </div>
</nav>

<!-- Mobile/Tablet Offcanvas Navbar (visible < lg) -->
<nav class="navbar fixed-top d-lg-none white-bg">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/vgds-white-logo.png' %}" class="logo logo-white d-none" alt="Logo">
      <img src="{% static 'images/vgds-logo-2.png' %}" class="logo logo-colored" alt="Logo">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNav" aria-controls="mobileNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Offcanvas Menu -->
<div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="mobileNav" aria-labelledby="mobileNavLabel">
  <div class="offcanvas-header">
    <a class="navbar-brand" href="/">
        <!-- Colored logo (hidden initially) -->
        <img src="{% static 'images/vgds-logo-2.png' %}" class="logo" alt="Logo">
    </a>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link offcanvas-item" href="{% url 'projectapp:ourWorks' %}">Our Work</a></li>
      <li class="nav-item">
        <a class="nav-link offcanvas-item" data-bs-toggle="collapse" href="#offcanvasServices" role="button" aria-expanded="false" aria-controls="offcanvasServices">
          Services
        </a>
        <div class="collapse ps-3" id="offcanvasServices">
          <ul class="list-unstyled">
            <li><a href="{% url 'projectapp:services' %}" class="nav-link offcanvas-item">Services</a></li>
            <li>
                <a href="{% url 'projectapp:presentation_design' %}" class="off-card mt-1">
                  <img src="{% static 'images/sol1.jpg' %}" class="img-fluid" alt="Presentation Design">
                  <p class="dropdown-title offcanvas-item">Presentation Design</p>
                </a>
            </li>
            <li>
                <a href="{% url 'projectapp:graphics' %}" class="off-card mt-1">
                  <img src="{% static 'images/sol2.jpg' %}" class="img-fluid" alt="Graphics & Print Design">
                  <p class="dropdown-title offcanvas-item">Graphics & Print Design</p>
                </a>
            </li>
            <li>
                <a href="{% url 'projectapp:otherServices' %}" class="off-card mt-1">
                  <img src="{% static 'images/sol3.jpg' %}" class="img-fluid" alt="Other Services">
                  <p class="dropdown-title offcanvas-item">Other Services</p>
                </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link offcanvas-item" href="{% url 'projectapp:solutions' %}">Solutions</a></li>
      <li class="nav-item"><a class="nav-link offcanvas-item" href="{% url 'projectapp:testimonials' %}">Testimonials</a></li>
      <li class="nav-item"><a class="nav-link offcanvas-item" href="{% url 'projectapp:pricing' %}">Pricing</a></li>
      <li class="nav-item"><a class="nav-link offcanvas-item" href="{% url 'projectapp:blogs' %}">Blogs</a></li>
      <li class="nav-item mt-3">
        <a href="{% url 'projectapp:orderFlow' %}" class="btn btn-primary w-100">Order Now</a>
      </li>
    </ul>
  </div>
</div>

<!--END NAVBAR-->

<div class="about-section white-section" style="">
  <div class="card sub-service-hero" style="background-image: url('{% static 'images/cover-other.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container p-0">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-7 d-flex align-items-center">
          <div class="card other-hero-card">
            <div class="card-body">
              <h6 class="about-hero-subtitle">Our Works</h6>
              <h5 class="about-hero-title">Work That Inspires.<br>  Impact That Lasts.</h5>
              <div class="about-hero-desc">
                <p class="about-hero-text">Explore a curated selection of our finest work — from visually striking presentations to strategic brand designs.
                At VGDS Global, each project is a testament to our commitment to creativity, precision, and results. We collaborate
                closely with clients across industries to turn ideas into powerful visual stories that drive engagement and deliver measurable value.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-center">
          <div class="card other-hero-card-img">
            <div class="inner-bg-div" style="background-image: url('{% static 'images/works.png' %}');"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<!--<div class="about-section white-section" style="">-->

<!--  <div class="card sub-service-hero service-top" style="background-image: url('{% static 'images/cover-other.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">-->
<!--    <div class="container p-0">-->
<!--      <div class="about-hero-textarea">-->
<!--          <h6 class="about-hero-subtitle">Our Works</h6>-->
<!--          <h5 class="about-hero-title">Work That Inspires.<br>  Impact That Lasts.</h5>-->
<!--          <div class="about-hero-desc">-->
<!--            <p class="about-hero-text">Explore a curated selection of our finest work — from visually striking presentations to strategic brand designs.-->
<!--            At VGDS Global, each project is a testament to our commitment to creativity, precision, and results. We collaborate-->
<!--            closely with clients across industries to turn ideas into powerful visual stories that drive engagement and deliver measurable value.-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<div class="white-section">
  <div class="card our-work-card">
    <div class="container-fluid">

        <div class="row">
          <!-- Left Column: Buttons -->
          <div class="col-md-2 mt-5">
            <div class="work-toggle d-grid gap-2">
              <button id="all" class="active">All</button>
              <button id="brandingTemplates">Branding Templates</button>
              <button id="brochure">Brochure</button>
              <button id="businessPresentation">Business Presentation</button>
              <button id="companyProfile">Company Profile</button>
              <button id="corporate">Corporate Presentation</button>
              <button id="dataVisualization">Data Visualization</button>
              <button id="flyer">Flyer</button>
              <button id="graphicDesign">Graphic Design</button>
              <button id="growthProposal">Growth Proposal</button>
              <button id="investorDeck">Investor Deck</button>
              <button id="launchPlan">Launch Plan</button>
              <button id="pitchDeckDesign">Pitch Deck Design</button>
              <button id="proficiencyDeck">Proposal Deck</button>
              <button id="proposalDeck">Proposal Deck</button>
              <button id="rebranding">Rebranding</button>
              <button id="salesDesign">Sales Design</button>
              <button id="strategyDeck">Strategy Deck</button>
              <button id="technicalDeck">Technical Deck</button>
              <button id="toolKit">Toolkit</button>
              <button id="trainingDeck">Training Deck</button>
            </div>
          </div>

          <!-- Right Column: Work Items -->
          <div class="col-md-10">

            <!--All-->
            <div class="work-section" id="allWorks">
              <div class="container">
                <h5 class="trust-title">All Works</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    <div class="col">
                      <div class="card work-card">
                        <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                        <div class="card-body text-start p-0 mt-3">
                          <h5 class="team-name">{{ work.title }}</h5>
                          <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
              </div>
              </div>
            </div>

            <!--strategyDeck-->
            <div class="work-section" id="strategyDeckWorks">
              <div class="container">
                <h5 class="trust-title">Strategy Deck</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "strategyDeck" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--corporate-->
            <div class="work-section" id="corporateWorks">
              <div class="container">
                <h5 class="trust-title">Corporate Presentation</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "corporate" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--rebranding-->
            <div class="work-section" id="rebrandingWorks">
              <div class="container">
                <h5 class="trust-title">Technical Deck</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "rebranding" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--technicalDeck-->
            <div class="work-section" id="technicalDeckWorks">
              <div class="container">
                <h5 class="trust-title">Technical Deck</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "technicalDeck" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--investorDeck-->
            <div class="work-section" id="investorDeckWorks">
              <div class="container">
                <h5 class="trust-title">Investor Deck</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "investorDeck" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--growthProposal-->
            <div class="work-section" id="growthProposalWorks">
              <div class="container">
                <h5 class="trust-title">Growth Proposal</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "growthProposal" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--Brochure-->
            <div class="work-section" id="brochureWorks">
              <div class="container">
                <h5 class="trust-title">Brochure</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "brochure" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--Branding Templates-->
            <div class="work-section" id="brandingTemplatesWorks">
              <div class="container">
                <h5 class="trust-title">Branding Templates</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "brandingTemplates" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--Business Presentation-->
            <div class="work-section" id="businessPresentationWorks">
              <div class="container">
                <h5 class="trust-title">Business Presentation</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "businessPresentation" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--companyProfile-->
            <div class="work-section" id="companyProfileWorks">
              <div class="container">
                <h5 class="trust-title">Company Profile</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "companyProfile" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <div class="cat-div"><h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5></div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--flyer-->
            <div class="work-section" id="flyerWorks">
              <div class="container">
                <h5 class="trust-title">Flyer</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "flyer" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--graphicDesign-->
            <div class="work-section" id="graphicDesignWorks">
              <div class="container">
                <h5 class="trust-title">Graphic Design</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "graphicDesign" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--dataVisualization-->
            <div class="work-section" id="dataVisualizationWorks">
              <div class="container">
                <h5 class="trust-title">Data Visualization</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "dataVisualization" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--salesDesign-->
            <div class="work-section" id="salesDesignWorks">
              <div class="container">
                <h5 class="trust-title">Sales Design</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "salesDesign" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--pitchDeckDesign-->
            <div class="work-section" id="pitchDeckDesignWorks">
              <div class="container">
                <h5 class="trust-title">Pitch Deck Design</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "pitchDeckDesign" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--trainingDeck-->
            <div class="work-section" id="trainingDeckWorks">
              <div class="container">
                <h5 class="trust-title">Training Deck</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "trainingDeck" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--toolKit-->
            <div class="work-section" id="toolKitWorks">
              <div class="container">
                <h5 class="trust-title">Toolkit</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "toolKit" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--launchPlan-->
            <div class="work-section" id="launchPlanWorks">
              <div class="container">
                <h5 class="trust-title">Launch Plan</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "launchPlan" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--proposalDeck-->
            <div class="work-section" id="proposalDeckWorks">
              <div class="container">
                <h5 class="trust-title">Launch Plan</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "proposalDeck" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--proficiencyDeck-->
            <div class="work-section" id="proficiencyDeckWorks">
              <div class="container">
                <h5 class="trust-title">Launch Plan</h5>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for work in works %}
                    {% if work.category == "proficiencyDeck" %}
                      <div class="col">
                        <div class="card work-card">
                          <div class="work-img image-popup" style="background-image: url('{{ work.image.url }}');" data-image="{{ work.image.url }}"></div>
                          <div class="card-body text-start p-0 mt-3">
                            <h5 class="team-name">{{ work.title }}</h5>
                            <h5 class="team-desc mt-0 mb-0">{{ work.get_category_display }}</h5>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>


          </div>
        </div>
    </div>
  </div>

  <div id="imageModal" class="modal-img-view d-none">
    <img src="{% static 'icons/icons8-close.svg' %}" alt="Close" class="close-btn-svg">
    <img class="modal-content-img" id="modalImage">
  </div>

</div>



      {% endblock %}