{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Order Confirmation</title>
</head>
<body>
  <h2>Thank you for your presentation request!</h2>

  <p>Dear {{ order.full_name }},</p>

  <p>
  Thank you for submitting your design request. We appreciate the opportunity to support your project and have noted the following details:
  </p>

  <ul>
    <li><strong>Number of Slides:</strong> {{ order.delivery_slides }}</li>
    <li><strong>Treatment Type:</strong> {{ order.treatment_name }}</li>
    <li><strong>Requested Delivery Date:</strong> {{ order.delivery_date }} <br>
    <em>(Please note: the final delivery timeline may vary depending on the complexity of the request and the availability of our design team.)</em></li>
  </ul>

  <p>Your request has been successfully queued. A project coordinator will review the details and respond during the next available slot at the Project Desk.</p>

  <p>We appreciate your patience and understanding, and we’ll ensure your request is processed as promptly as possible.</p>

  <p>If you have any questions in the meantime, please feel free to reach out to us at <a href="mailto:projects@vgdsglobal.com">projects@vgdsglobal.com</a>.</p>

  <p>Warm regards,</p>

  <p><strong>Muralika Thamban</strong><br>
  Project Coordinator</p>

  <br>

  <img src="{% static 'images/vgds-logo-2.png' %}" class="logo logo-colored d-none" alt="Logo">

  <p>
  VGDS Global LLP, 1<sup>st</sup> Floor, Clovers Blue Towers,<br>
  Edachira, Kakkanad, Kerala, India, 682030<br>
  <a href="http://www.vgdsglobal.com">www.vgdsglobal.com</a> | <a href="mailto:projects@vgdsglobal.com">projects@vgdsglobal.com</a>
  </p>

  <h4>Working Hours:</h4>
  <table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse;">
    <thead>
      <tr>
        <th>Day</th>
        <th>IST</th>
        <th>GMT</th>
        <th>PT (Pacific Time)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday to Friday</td>
        <td>10:00 AM – 11:00 PM</td>
        <td>4:30 AM – 5:30 PM</td>
        <td>8:30 PM (Prev Day) – 10:00 AM</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>11:00 AM – 5:00 PM</td>
        <td>5:30 AM – 11:30 AM</td>
        <td>9:30 PM (Fri) – 5:30 AM</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
